html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    color: #F9F9F9;
    font-family: 'Allerta Stencil', sans-serif;
    letter-spacing: 8px;
    margin-top: 50px;
}

.container {
    display: inline-block;
    width: 65%;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.73);
}

.city {
    width: 60%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 530px;
    position: relative;
}

.title {
    float: right;
    font-family: 'Oxygen', sans-serif;
    padding: 30px 30px 0 0;
}

.title h2 {
    color: #FFF;
    font-size: 30px;
}

.title h3 {
    font-size: 16px;
    font-weight: 600;
    color: #EEE;
    margin-top: 10px;
    text-align: right;
}

.date-time {
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 90%;
    padding: 0 30px 10px 30px;
    font-family: 'Oxygen', sans-serif;
}

div#txt {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.dmy {
    width: 50%;
    float: left;
    text-align: left;
    padding-top: 55px;
}

.temperature {
    width: 50%;
    float: left;
}

.temperature p {
    font-family: 'Raleway', sans-serif;
    font-size: 115px;
    font-weight: 100;
}

.temperature p span {
    font-size: 50px;
    font-weight: 200;
}

.forecast {
    width: 40%;
    float: left;
}

.forecast-icon {
    margin: 25px 0;
}

.today-weather h3 {
    font-size: 50px;
    color: #FFF;
    width: 80%;
    margin: 0 auto 20px;
    padding-bottom: 10px;
    border-width: thin;
    border-bottom: 1px solid #EEE;
}

.today-weather ul li {
    list-style-type: none;
    width: 74%;
    margin: 0 auto;
    line-height: 39px;
    border-width: thin;
    border-bottom: 1px solid #777;
    color: #EEE;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
}

.today-weather ul li span {
    float: right;
    padding-right: 10px;
}

.today-weather ul li:nth-child(6) {
    border-bottom: none;
}

.footer {
    padding-bottom: 20px;
}

.copyright p {
    color: #FFF;
}

.copyright p a {
    color: #FFF;
}

.copyright p a:hover {
    color: #FFEB3B;
}

#navBar {
    display: flex;
}

a.buttons {
    color: #644cad;
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
}

a.buttons:hover {
    color: #FFFFFF;
}

a.buttons:active {
    color: #FFFFFF;
}

.buttons.active {
    color: #FFFFFF;
    background-color: #644cad;
}

.buttons {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 270px;
    font-weight: bold;
    padding: 14px 0px;
    border: 3px solid #644cad;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.buttons:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #644cad;
    z-index: -1;
}

.buttons:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.buttons:active:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

#searchAndWeather {
    width: 100%;
}

.topnav {
    float: left;
    overflow: hidden;
    width: 270px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    font-size: 17px;
}

.topnav .search-container button {
    float: left;
    padding: 6px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.fa-search-plus:before {
    content: "\f00e"
}

.fa-search-minus:before {
    content: "\f010"
}

.fa-search:before {
    content: "\f002"
}

#searchIcon {
    background-image: url("../images/night.jpg");
}

/* Rounded slider CSS */

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #644cad;
}

input:focus+.slider {
    box-shadow: 0 0 1px #644cad;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(66px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:after {
    content: 'Celcius OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider:after {
    content: 'Celcius ON';
}

/* End of rounded slider */


/*-- Responsive Code --*/

@media screen and (max-width: 1920px) {
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 55%;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 75%;
    }
}

@media screen and (max-width: 966px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 853px) {
    h1 {
        font-size: 45px;
        font-family: 'Allerta Stencil', sans-serif;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 35px;
        font-family: 'Allerta Stencil', sans-serif;
    }

    .temperature p {
        font-size: 100px;
    }

    .dmy {
        padding-top: 25px;
    }
}

@media screen and (max-width: 736px) {
    .temperature p {
        font-size: 80px;
    }

    .dmy {
        padding-top: 10px;
    }

    div#txt {
        font-size: 30px;
    }

    .forecast-icon img {
        width: 110px;
    }
}

@media screen and (max-width: 667px) {
    h1 {
        font-size: 40px;
        margin-top: 30px;
        font-family: 'Allerta Stencil', sans-serif;
    }

    .container {
        width: 95%;
        margin-top: 30px;
    }
}

/* @media screen and (max-width: 640px) {
h1 {
    font-size: 30px;
    margin-top: 45px;
}
div#txt {
    font-size: 25px;
}
.dmy {
    padding-top: 17px;
}
.temperature p {
    padding-bottom: 10px;
}
} */

@media screen and (max-width: 1800px) {
    h1 {
        font-size: 35px;
        font-family: 'Allerta Stencil', sans-serif;
    }

    .city {
        width: 100%;
        min-height: 300px;
    }

    .temperature {
        text-align: right;
    }

    .temperature p {
        font-size: 100px;
    }

    .dmy {
        padding-top: 35px;
    }

    .forecast-icon {
        margin: 10px 0;
    }

    .forecast {
        width: 100%;
        padding-bottom: 30px;
    }

    .copyright {
        padding-bottom: 20px;
    }

    .copyright p {
        line-height: 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 28px;
        letter-spacing: 2px;
    }

    .container {
        margin-bottom: 20px;
    }

    .forecast-icon {
        margin: 40px 0 10px;
    }

    .forecast-icon img {
        width: 100px;
    }

    .today-weather h3 {
        font-size: 40px;
    }

    .city {
        min-height: 450px;
    }

    .title h2 {
        font-size: 25px;
    }

    .title h3 {
        font-size: 14px;
    }

    .date-time {
        width: 100%;
        padding: 0;
    }

    .dmy {
        padding: 0;
        margin-bottom: 35px;
        text-align: center;
        width: 100%;
    }

    div#txt {
        font-size: 30px;
    }

    .date {
        font-size: 22px;
    }

    .temperature {
        text-align: center;
        width: 100%;
    }

    .copyright {
        padding: 20px;
    }

    .temperature p {
        font-size: 60px;
        padding-bottom: 15px;
    }

    .forecast-icon img {
        width: 65px;
    }

    .today-weather h3 {
        font-size: 30px;
    }

    .copyright p {
        line-height: 25px;
        font-size: 13px;
    }
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
    .topnav {
        display: inline-block;
        margin-bottom: 0%;
        overflow: hidden;
    }

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #cccccc;
    }
}